<section class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Referrals</h3>
  </div>
  <div class="list-group">
    <a class="list-group-item dropbox" href="https://db.tt/TKB3xRe4" target="_blank"><img src="/images/dropbox.png" border="0"/></a>
  </div>
  <div class="list-group">
    <a class="list-group-item digitalocean" href="https://www.digitalocean.com/?refcode=60eb3063c38f" target="_blank"><img src="/images/digitalocean.png" border="0"/></a>
  </div>
  <div class="list-group">
    <a class="list-group-item vultr" href="http://www.vultr.com/?ref=6893684" target="_blank"><img src="/images/vultr.png" border="0"/></a>
  </div>
</section>
